.wrapper {
  padding-left: 320px;
  padding-right: 20px;
  width: 100%;
  min-height: 80vh;
  overflow-x: auto;
  font-family: sans-serif;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 12px;
  background: #f3f4f6;
  border-bottom: 2px solid #e5e7eb;
  font-weight: 600;
}

tr:nth-child(even) {
  background: #fafafa;
}

tr:hover {
  background: #f0f0f0;
}

td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

.actionsCell {
  position: relative;
  width: 40px;
}

.actionButton {
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  color: #4b5563;
}

.dropdown {
  position: absolute;
  right: 10px;
  top: 100%;
  margin-top: 4px;
  list-style: none;
  padding: 6px 0;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  min-width: 150px;
  z-index: 10;
}

.dropdown li button {
  background: none;
  border: none;
  padding: 10px 14px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  color: #111827;
}
.dropdown_container {
  position: relative;
}
.user_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 150px;
  margin: 4px 0 0;
  padding: 0;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: "4px";
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.dropdown_btn{
  cursor: pointer;
  text-align: left;
}
.dropdown_options {
  padding: 8px 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
