.buton {
  padding: 8px 12px;
  width: max-content;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 20px;
}
.table_header_btn {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: space-between;
  background-color: #f6e4b4;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}
