.aside_container {
  width: 250px;
  min-height: 100vh;
  background-color: #0e756f;
  /* padding: 30px; */
  padding-bottom: 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside_top {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: calc(100vh - 100px);
  padding: 30px;
  background-color: #fdfbf9;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.aside_links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aside_links li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  padding: 10px 12px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
.aside_links li svg {
  display: flex;
  align-items: center;
}
.aside_links li:hover {
  background-color: #ffff;
  border-bottom: 1px solid green;
}

.active_link {
  background-color: #ffff;
  border-bottom: 1px solid green;
}

.bottom_container {
  position: relative; /* parent for absolute dropdown */
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

/* Profil düyməsi */
.profileBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  background: none;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.avatar {
  background: var(--background-highlight, #f3f4f6);
  color: #111827;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.info h4 {
  font-size: 14px;
  margin: 0;
  color: #ffffff;
  font-weight: 500;
}
.info p {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
}

.chevron {
  margin-left: auto;
  font-size: 18px;
  transition: transform 0.2s ease;
}
.profileBtn[aria-expanded="true"] .chevron {
  transform: rotate(180deg);
}

/* Dropdown */
.dropdown {
  position: absolute;
  right: 1px;
  top: 8%;
  margin-top: 4px;
  list-style: none;
  padding: 0;
  min-width:max-content;
 
}

.dropdown li {
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

